{% extends "base.html" %}
{% block contain %}
    <div class="contact">
        <div class="contact-container">
            <form method='post' action="{% url 'contact' %}">
                {% csrf_token %}
                <label for="">Name:</label>
                <input type="text" name="name" required="">
                 <br>
                <label for="">Email:</label>
                <input type="email" name="email" required="">
                <br>
                <label for="">infor-m</label>
                <textarea name="meassage" required=""></textarea>
                <br>
                <button type="submit" class="btnlogin">Send</button>
            </form>
        </div>
    </div>
 {% endblock  %}
